<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gruppe Adler Mod Marketing</title>
    <script defer type="module" src="js/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h2>Allgemeines</h2>
        <form>
            <div class="form-field">
                <label>Modname in langer Form</label>
                <input type="text" placeholder="Sling Helmet" v-model="fullName"/>
                <span class="hint">Ohne "Gruppe Adler"<br/>Keine Abkürzung (also "Civilians" und nicht "Civs")<br/>Leerzeichen bei mehreren Wörtern</span>
            </div>
            <div class="form-field">
                <label>Autoren</label>
                <div style="display: grid; grid-template-columns: 1fr auto; grid-gap: .25rem;">
                    <input type="text" placeholder="DerZade" v-model="author" @keydown.enter="addAuthor" />
                    <button @click="addAuthor" type="button">Hinzufügen</button>
                </div>
                <ul v-if="authors.length > 0">
                    <li v-for="a in authors">
                        <span>{{ a }}</span>
                        <span @click="removeAuthor(a)" style="color: #d18d1f; font-size: 0.75em; cursor: pointer;">(Entfernen)</span>
                    </li>
                </ul>
                <i v-else>Keine Autoren hinzugefügt</i>
            </div>
            <div class="form-field">
                <label>GitHub Repository Name</label>
                <input type="text" placeholder="grad_slingHelmet" v-model="gitHubRepo" />
                <span class="hint">Nur Repository Name (<pre style="display: inline">github.com/gruppe-adler/</pre> wird automatisch vorgestellt)</span>
            </div>
            <div class="form-field">
                <label>Kurzbeschreibung</label>
                <textarea :placeholder="descriptionPlaceholder" rows="5" v-model="description"></textarea>
                <span class="hint">Anfangend mit <i>"Gruppe Adler"</i> + Modname in langer Form (z.B.: "Gruppe Adler Sling Helmet is da SHIT.")<br/>unterstützt <a href="https://community.bistudio.com/wiki/Structured_Text" target="_blank">Structured Text</a></span>
            </div>
        </form>
        <h2>Logo</h2>
        <div class="form-field">
            <label>Logo Text</label>
            <div class="logo-group">
                <textarea placeholder="CIVILIANS" rows="2" v-model="logo.text" style="resize: none;"></textarea>
                <span style="grid-area: hint;" class="hint">Wenn möglich Modname in langer Form statt nur Abkürzung<br/>Bis zu zwei Zeilen</span>
                <div class="form-field" style="grid-area: fontSize; margin-top: .75rem">
                    <label>Schriftgröße</label>
                    <input type="number" step="0.5" v-model="logo.fontSize" max="27" />
                    <span class="hint">Nur verändern, wenn Platz nicht ausreicht!</span>
                </div>
                <canvas id="logo-preview" style="grid-area: logo;"></canvas>
            </div>
        </div>
        <h2>Overview</h2>
        <div class="form-field">
            <label>Custom Adler hochladen</label>
            <input type="file" accept="image/*" @change="onAdlerFileChanged" />
            <div class="hint">
                <a href="default_adler.svg" target="_blank">Beispiel Adler</a><br/>
                <b>Hinweise für bestes Ergebnis:</b>
                <ul>
                    <li>Transparenter Hintergrund</li>
                    <li>Schriftzug im Bild zentriert</li>
                    <li>Bild Mindestens 960px hoch</li>
                    <li>Oben und unten keine Ränder</li>
                </ul>
            </div>
            <label style="margin-top: .75rem;">Vorschau</label>
            <canvas id="overview-preview"></canvas>
        </div>
        <h1></h1>
        <button type="button" @click="download" style="padding: 1rem;">DOWNLOAD</button>
        <h2>Next Steps</h2>
        <ol>
            <li>ZIP enpacken</li>
            <li>logo.png ist nur eine hochauflösende Kopie des Logos</li>
            <li>Alle Bilder im Verzeichnis "mod" zu PAA konvertieren (z.B. mit <a href="https://paa.gruppe-adler.de" target="_blank">paa.gruppe-adler.de</a>)</li>
            <li>Die konvertieren PAAs + die mod/mod.cpp in das Hauptverzeichnis deiner Mod schieben</li>
            <li>
                <span>Falls du deinen Mod mit HEMTT baust sollten alle generierten Dateien in dem "files"-Feld in der "hemtt.toml"stehen:</span>
                <pre style="margin-top: .25rem;">{{ hemttFilesExample }}</pre>
            </li>
        </ol>
    </div>
</body>
</html>