html, body {
    font-size: 16px;
    font-family: sans-serif;
}

a:visited,
a {
    color: #d18d1f;
    text-decoration: none;
}

textarea {
    resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app > * {
    width: 30rem;
    max-width: calc(100% - 2rem);
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    row-gap: .125rem;
}

form textarea,
form input {
    font-family: monospace;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
}

.hint {
    font-size: 0.7em;
}

.logo-group {
    display: grid;
    grid-column-gap: .25rem;
    grid-template: 
        "area logo" 1fr
        "hint logo" auto
        "fontSize logo" auto / 1fr auto;
}